{% extends "connectToHeal/base.html" %}
  {% block content%}
 <!--<body style="background-image: url('/media/home.jfif');background-size: cover;"> -->
   <body style="background-color:powderblue;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <center>{{ form.label }} <br> {{form}}  </center>
    </fieldset>
    <center><div class="form-group">
        <button class="btn btn-outline-info" id = "submitbutton">Submit</button>
    </div></center>
</form>
{% for forum in forums reversed %}
<p style="padding-left:10px"> {{forum.info}} </p>

{% endfor %}
</body>
  {% endblock%}